html {
  height: 100%;
  width: 100%;
}

/*navigation bar
green: #87f59f*/ 
.nav_bar{
  background-color: #ffffff;
  color: #020202;
  
  max-width: 100%;
  min-width: 775px;
  max-height: 100%;
  text-align: right;
  line-height: 150px;
  
  font-family: "Arial Rounded MT Bold", "Arial Black", Arial;
  font-size: 200%;
}
.nav_bar_links{
  text-decoration: none;
}
.nav_bar_links_left{
  padding-right: 50px;
  text-decoration: none;
}
.nav_bar_links_right{
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
}
#nav_logo{
  width: 250px;
  height: 150px;
  float: left;
  background-color: white;
}

/*text*/
.image_blurb_title{
  font-family: Arial Rounded MT Bold, Arial Black, Arial;
  font-size: 250%;
  color: #020202;
  text-align: center;  
}

/*images*/
img{
  width: 35%;
  height: 35%;
}
.logo_header{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /*object-position: center;*/
}
/*art html thumbnail images*/
.art_thumbnail{
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}
.zoom_painting{
  cursor: zoom-in;
  width: 100%;
  height: 100%;
}

/*grid layout*/
.grid-container {
  display: flex;
  flex-wrap: wrap;
  
}
.grid-row{
  width: 100%;
  display: flex;
}
.grid-item{
  flex: 1;
  box-sizing: border-box;
  padding: 5px;
}

/* links*/
a:link{
  color: #020202;
  text-decoration: none;
}
a:visited{
  color: darkslategray;
  text-decoration: none;
}
a:focus{
  color: #020202;
  text-decoration: none;
}
a:hover{
  color:  #fc5132;
  text-decoration: none;
}
a:active{
  color: #fc5132;
  text-decoration: none;
}

/*from google arts and culture
*image-rendering: optimizeSpeed;
*image-rendering: -webkit-optimize-contrast;*/
