html {
  height: 100%;
  width: 100%;
}

/*navigation bar
green: #87f59f*/ 
.nav_bar{
  background-color: #f2f2f2;
  color: #020202;
  
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  line-height: 75px;
  
  font-family: "Arial Rounded MT Bold", "Arial Black", Arial;
  font-size: 125%;
}
.nav_bar_links{
  text-decoration: underline;
}
.nav_bar_links_left{
  padding-right: 50px;
  text-decoration: underline;
}
.nav_bar_links_right{
  padding-left: 50px;
  text-decoration: underline;
}
#nav_logo{
  width: 20%;
  height: 20%;
  float: left;
  background-color: white;
}


/*images*/
img{
  width: 35%;
  height: 35%;
}
.logo_header{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /*object-position: center;*/
}
/*art html thumbnail images*/
.art_thumbnail{
  padding: 20px;
  width: 60%;
  min-width: 322px;
  height: 60%;
}
.zoom_painting{
  cursor: zoom-in;
  width: 150%
  height: 150%
}

/* links*/
a:link{
  color: #020202
}
a:visited{
  color: darkslategray;
}
a:focus{
  color: #020202
}
a:hover{
  color:  #fc5132
}
a:active{
  color: #fc5132
}
